<h1><%= @doctors.name %></h1>

<% if @doctors.patients.any?() %>
  <h3>Here are all the doctors in this patient:</h3>

  <ul>
    <% @doctors.patients().each() do |patient| %>
    <li><%= patient.name() %></a> </li>
  <% end %>
  </ul>

  <% else %>
    <p>There are no patients on this list!</p>
  <% end %>

<div class="container">
  <a href="/"><button class="btn">Home</a>
</div>
